services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    volumes:
      - ./data:/app/data
    environment:
      - DATABASE_URL=sqlite:/data/mydatabase.db
      - org.springframework.boot.readiness-check.tcp.disable=true
      - spring.docker.compose.lifecycle-management=start-and-stop

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "4200:80"
