.admin-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.admin-table thead tr {
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid;
}

.admin-table th,
.admin-table td {
  padding: 12px 15px;
}

.admin-table tbody tr {
  border-bottom: 1px solid;
}

.admin-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

button {
  padding: 8px 12px;
  margin: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.approve-button {
  background-color: green;
  color: white;
}

.edit-button {
  background-color: orange;
  color: white;
}

.activate-button {
  background-color: green;
  color: white;
}

.deactivate-button {
  background-color: red;
  color: white;
}

.delete-button {
  background-color: red;
  color: white;
}

@media only screen and (max-width: 1000px) {

  .admin-table th,
  .admin-table td {
    padding: 5px 5px;
  }
}