.sidenav-container {
  height: 92%;
}
mat-sidenav {
  width: 250px;
}
.admin-nav{
  padding: 30px;
}
.admin-nav .left {
  padding-right: 15px;
}
.spacer {
  flex: 1;
}
.nav-button-spacer {
  flex: 0.01;
}
input[type="text"] {
  width: 300px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
input[type="text"]::placeholder {
  color: #aaa;
}
.right .buttonForAll{
  background-color: green;
  color: #f5f5f5;
}

@media only screen and (max-width: 480px){
  mat-sidenav {
    width: 150px;
  }

  input[type="text"] {
    width: 100px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px){
  mat-sidenav {
    width: 150px;
  }

  input[type="text"] {
    width: 200px;
    font-size: 12px;
  }
}