.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 500px;
    margin: 10% auto;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.login-container h2 {
    margin: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 0;
    border-bottom: 1px solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.login-container img{
    width: 15%;
    padding-top: 10px;
}
.login-container form {
    padding: 50px 0;
    text-align: center;
}
mat-form-field{
    width: 80%;
}
.login-container button{
    width: 70%;
    margin-top: 40px;
    font-size: 20px;
    background-color: rgb(217, 218, 217);
    border-radius: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
    .login-container {
        width: 80%;
        height: auto; 
        padding: 10px; 
    }
    
    .login-container h2 {
        font-size: 24px; 
        margin-bottom: 15px;
    }
    
    .login-container img {
        width: 20%; 
    }
    
    .login-container form {
        padding: 10px 0; 
    }
    
    .login-container button {
        width: 60%; 
        font-size: 16px; 
        margin-top: 10px;
    }
}